@{
    ViewData["Title"] = "Save Page";
}
@model CoreWebApp.Models.MenuItem

<div style="margin-left: 150px;">
    <h2>Save item is clicked</h2>
    <br/>
    <h3>Selected Id: @Model.Id</h3>
</div>
